$color_header_purple: #312450;
$color_section_1_purple: #5e42a6;
$color_section_2_blue_1: #5052b5;
$color_section_2_blue_2: #3e4094;
$color_section_3_pink_1: #b74e91;
$color_section_3_pink_2: #953d75;
$color_section_4_purple: #5e42a6;
$color_footer_purple: #493382;

$color_font_white: #ffffff;
